*, *::after, *::before{
    box-sizing: border-box;
}
:root{
    --small-board-size: 300px;
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .83);
}

body {
    margin: 0;
}

.big_board{
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto)
}

.small_board{
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    width: var(--small-board-size);
    height: var(--small-board-size);
    border: 6px solid black;
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.cell{
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    width: var(--cell-size);
    height: var(--cell-size);
    border: 3.5px solid black;
    display: flex;
    position: relative;
}

.small_board:first-child,
.small_board:nth-child(2),
.small_board:nth-child(3){
    border-top: none;
}
.small_board:nth-child(3n + 1){
    border-left: none;
}
.small_board:nth-child(3n){
    border-right: none;
}
.small_board:last-child,
.small_board:nth-child(7),
.small_board:nth-child(8){
    border-bottom: none;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3){
    border-top: none;
}
.cell:nth-child(3n + 1){
    border-left: none;
}
.cell:nth-child(3n){
    border-right: none;
}
.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8){
    border-bottom: none;
}
.cell.x::before,
.cell.x::after,
.small_board.x .cell:not(.x):not(.o):hover::before,
.small_board.x .cell:not(.x):not(.o):hover::after{
    content: '';
    background-color: black;
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
}
.cell.x::before,
.cell.x::after,
.cell.o::before{
    background-color: black;
}

.small_board.x .cell:not(.x):not(.o):hover::before,
.small_board.x .cell:not(.x):not(.o):hover::after,
.small_board.o .cell:not(.x):not(.o):hover::before{
    background-color: lightgray;
}
.cell.x::before,
.small_board.x .cell:not(.x):not(.o):hover::before{
    transform: rotate(45deg);
}
.cell.x::after,
.small_board.x .cell:not(.x):not(.o):hover::after{
    transform: rotate(-45deg);
}
.cell.o::before,
.cell.o::after,
.small_board.o .cell:not(.x):not(.o):hover::before,
.small_board.o .cell:not(.x):not(.o):hover::after
{
    content: '';
    background-color: lightgray;
    position: absolute;
    border-radius: 50%;
}
.cell.o::before,
.small_board.o .cell:not(.x):not(.o):hover::before{
    width: var(--mark-size);
    height: var(--mark-size);
    background-color: black;
}
.small_board.o .cell:not(.x):not(.o):hover::before{
    background-color: lightgray;
}
.cell.o::after,
.small_board.o .cell:not(.x):not(.o):hover::after{
    background-color: white;
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
}

.winning_message{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .8);
    color: white;
    font-size: 5rem;
    flex-direction: column;
}
.winning_message button{
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: .25rem .5rem;
    cursor: pointer;
}
.winning_message button:hover{
    background-color: black;
    color: white;
    border-color: white;
}
.winning_message.show{
    display: flex;
}